<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__img_container slider__img_container_first">
                <img src="../img/image1.jpg" alt="" class="slider__img" draggable="false">
            </div>
            <div class="slider__img_container slider__img_container_second">
                <img src="../img/image2.jpg" alt="" class="slider__img" draggable="false">
            </div>
            <div class="slider__handler">
                <div class="slider__arrows">
                    <i class="fa-solid fa-arrows-left-right"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>